
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face{
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

html, body { 
  background: url(../img/BG.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-color:#E4E4E4;
    background: url(../img/BG.png);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif, Roboto-Regular;
    font-size:12px;
    height:100%; 
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;

    /*background-size: cover;*/
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h1 a{
  float: left;
}

#panel {
    padding: 50px;
    display: none;
}

.amazeFont{
    color: rgb(241, 90, 41);
}

.amazeButton{
    width: 80%; 
    height: 40px;
    background-color: #f15a29;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#start{
    background: none;
    background-image: none;
    /*margin-top: 54px;*/
   /* display: block;*/
}

#splash{
  margin-top:180px;
  margin-left: 110px;
}

#page2{
    display: none;
}

#content{
    /*background: url(../img/splash.png);*/
    background:none;
    background-image: none;
    width:311px;
    height:192px;
    padding-top: 39px;
    margin-top: 0px;
    margin-left: 15px;
    padding-bottom: 50px;*/
    /*margin: auto;*/
}

#loginForm{
  background: none;
  background-image: none;
  margin-top: 54px;
}

#dash{
    display: none;
}

.header-container{
    position: fixed;
    top:0%;
    right: 0%;
    left: 0%;
    background-color: #f15a29; 
    color: white;
    text-align: center;
    display: inline-block;
    height: 40px;
    z-index:300;
}

.header-container h1{
  margin-top: 6px;
}

.header-container a img{
  margin-top: 5px;
}
.footer-container{
    position: fixed;
    bottom:0%;
    right: 0%;
    left: 0%; 
    background-color: #f15a29; 
    color: white;
    text-align: center;
    height: 40px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#accessKey{
    height: 35px;
    font-size: 14px;
    width: 300px;
}

#secretKey{
    height: 35px;
    font-size: 14px;
    width: 300px;
}

.main{
    margin-top: 60px;
}

.snap-content {
  background: white;
  color:black;
}

.snap-drawers {
  background: white;
}

.snap-drawer {
    background: white;
    color: black;
}

.snap-drawer h3 {
  font-size: 36px;
  font-weight: normal;
  margin: 15px;
}

.snap-drawer h4 {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}

.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.snap-drawer li > a {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0);
  border-top: 1px solid rgba(55, 255, 255, 0.1);
  padding: 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  color: black;
  text-indent: 20px;
}

.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}

.snap-drawer-left {
    display: block;
    right: 0;
    left: auto;
}

.snap-drawer-right {
    display: none;
}

#toolbar {
  background: #f15a29;
  border-bottom: 1px solid #111b32;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 44px;
}

#toolbar h1 {
  color:white;
  font-size: 24px;
  padding: 0px;
  /*line-height: 22px;*/
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 5px;
  right: 44px;
  left: 44px;
  width: auto;
  height: 44px;
}

#open-left {
  /*background: url(open.png) center center no-repeat;*/
  display: block;
  width: 44px;
  height: 44px;
}


div h1{
  padding: 0;
  background-color: #f15a29;
  color:white;
  display: inline-block;
}

div h2{
  padding: 0;
  background-color: #f15a29;
  color: white;
}

.footer-container h3{
  display: inline-block;
}

.toggle{
    width: 191px;
    height: 100%;
    background: white;
    border: 1px solid #f15a29;
    text-align: center;
    margin-top: 0px;
    float:left;
    position: relative;
    display: block;
    font-family: Roboto-Regular;
    text-align: center;
    border: 1px solid red;
}
.toggle ul{
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.toggle li{
  position: relative;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #222222;
  /*border-top: 1px solid #444444;*/
  padding: 2px;
}

.toggle h4{
  position:relative;
  font-size: 1em;
  font-weight: bold;
  height: 7.5px;

}
#cloud{
  padding-top: 35px;
  padding-left: 157px;

}

.cloud-bend{
  margin-left:0px;
  padding-left:55px;
  text-align: center;
}

#prev{
  width: 52px;
  height: 150px;
  float: left;
  margin-top: 42px;
}

#next{
  width: 52px;
  height: 150px;
  float:right;
  margin-top: 42px;
}

#btn-prev{
  background: none;
  background-image: none;
  border: 0pc;
}

#btn-next{
  background: none;
  background-image: none;
  border: 0pc;
}

#createButton{
  background: #f15a29;
  color: white;
  margin-left: 90px;

}

#configButton{
  background: #f15a29;
  color: white;
  margin-left: 67px;

}

#reason{
  text-align: center;
  color: #f15a29;
}

#bucketCreate{
  margin-left: 48px;
}

#bucketConfig{
  margin-left: 48px;
}

#bucketTime{
  margin-left: 48px;
}

.amazeConfig{
  margin-top: 154px;
  margin-left: 21px;
  color: #f15a29;

}

#copyBucket{
  width: 67px;
  height: 40px;
  color:white;
  background-color: #C1C5C0;
  moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 5px;
  margin-left: 145px;
  margin-top:12px;
}

#screenShot{
  margin-top: 28px;
  margin-left: 17px;

}

#bucketValue{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  margin-left: 98px;
  height: 45px;
  width: 235px;
  border-color: #f15a29;

}

.hide{
  display:none;
}

.show{
  display: block;
}

#loading {
  text-align: center;
  height: 100%;
  width: 100%;
  position:absolute;
  top:50%;
}

#loading1 {
  text-align: center;
  height: 100%;
  width: 100%;
  position:absolute;
  top:50%;
}