* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/*html, body {
   margin: 0;
   padding: 0;
   width: 100%;
}*/

.pager {
   position: relative;
   margin: auto;
   /*margin-left: 52px;*/
   /*margin-top: 40px;*/
   top: 5px;
   width: 193px;
   height: 121px;
   overflow: hidden;
   float: left;
   /* outline: 1px solid blue; */
}

.pager_items {
   width: 193px;
   height: 100%;
   overflow: hidden;
   /*margin-top: 0px;*/
   /*margin-left: 0px;*/
   margin: auto;
}

.item {
   position: relative;
   display: block;
   float: left;
   height: 100%;
   background: #ccc;
   font-size: 10vmin;
   font-family: Helvetica;
   text-align: center;
   border: 1px solid red;
}

.buttons {
   position: relative;
   text-align: center;
   margin-top: 10px;
}

#chart-area{
   width: 268px;
   height:259px;
   margin-left: 24px;
}

#list{
   background-image: none;
   background: none;
   /*display: table;*/
   border-collapse: collapse;
   /*width: 100%;*/
   margin-left:15px;
   font-size: 14px;
   list-style-type: none;
}

/*#list li p{
   display: block;
   height: 3em;    
   line-height: 12px;
   border-bottom: 1px solid #f15a29;
   /*border-bottom-color: #f15a29;*/
   /*height: 4em;
   border: 1px solid grey;
   display: table-row;
}*/

#list li span {
   display: inline-block;  
   vertical-align: middle;    
   /*display:table-cell;
   vertical-align: middle;*/ 
}

#list li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    /*height: 100%;       */
}

#list li{
   width: 86%;
   min-height: 50px;
   border-bottom: 1px solid #f15a29;
}

#list .value-cls{
   width: 12%;
   float: right;
}

#list .text-cls{
   width: 80%;
   float: left;
}

#list .text-cls, #list .value-cls {
      /* display: initial; */
   height: 24px;
   line-height: 0px;
   /* border-bottom: 1px solid #f15a29; */
   /* color: darkgrey; */
   /* border-bottom-color: #f15a29; */

  
}

#spend{
   color:#f15a29;

}

/*#chart-area{
   width:262px;
   height: 256px;
} */   

#canvas-holder{
   margin-left: 25px;
}

#amaze-white{
   float: left;
   display: inline-flex;
   margin-top:6px;
}

#filler{
   height:45px;
}

#list1{
   background-image: none;
   background: none;
   /*display: table;*/
   border-collapse: collapse;
   /*width: 100%;*/
   margin-left:15px;
   font-size: 14px;
   list-style-type: none;
   overflow: scroll;
}

#list1 li{
   border-bottom: 1px solid #f15a29;
}

#list1 li p{
   display: inline-block;
  /* height: 4em;    
   line-height: 12px;*/
   height:0px;
   font-size: 18px;
   /*padding-top: 17px;*/
   /*width: 255px;*/
  
   /*border-bottom-color: #f15a29;*/
   /*height: 4em;
   border: 1px solid grey;
   display: table-row;*/
}

#list1 li span {
   display: block;  
   vertical-align: middle; 
   font-size:14px;  
   width: 48%;
   /*display:table-cell;
   vertical-align: middle;*/ 
}

#list1 li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    /*height: 100%;       */
}

/*#container{
   overflow: scroll;
}*/

#monthInfo{
   margin-left: 14px;
   font-size: 14px;
   color:#f15a29;
}

.newStyle{
   display: initial;
}

#servicesList{
   background: none;
   background-image: none;
   margin-top: 35px;
}

#list1 .value-class{
   width: 0%;
}

#list1 .text-class{

}

#topDets{
   background-color: #f15a29;
   color:white;
}

.slider-menu{
   position: absolute;
   display: none;
   left: 0px;
   top: 0px;
   background: white;
   border: 1px solid #f06b24;
   border-width: 5px 1px;
   padding: 10px;
   font: normal 12px Verdana;
   z-index: 100;
   margin-top: 36px;
   height: calc(100% - 76px);
}

.slider-menu .column{
float: left;
width: 180px; /*width of each menu column*/
/*margin-right: 5px;*/
padding: 10px;
}

.slider-menu .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.slider-menu .column ul li{
padding-bottom: 5px;
}

.slider-menu .column h3{
background: white;
font: bold 13px Arial;
margin: 0 0 5px 0;
color: #f15a29;;
}

.slider-menu .column ul li a{
text-decoration: none;
}

.slider-menu .column ul li a:hover{
color: red;
}

.hidden{
   /*display:none;*/
   left: -1000px;
   z-index:2;
   position:absolute;
   float:left;
}

#products{
   margin-top: 39px;
}

/*#help{
   background: none;
  background-image: none;
  border: 0pc;
}*/